/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 80px;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-left: 10px;
  }
  
  .menu li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
  }
  
  .menu li a:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Estilos del contenido */
  section {
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    color: #666;
  }
  